<small>© 2023. Todos los derechos reservados.</small>
<nav>
    <a href="https://www.linkedin.com/in/sfmarmol" target="_blank">
        <em class="fa-brands fa-linkedin" title="Visita mi perfil de Linkedin"></em>
    </a>
    <a href="https://github.com/getnotesfs" target="_blank">
        <em class="fa-brands fa-github" title="Visita mi repositorioen de GitHub"></em>
    </a>
    <a href="mailto:contacto@sfmarmol.com" target="_blank">
        <em class="fa-solid fa-envelope" title="Envíame un correpo por este medio"></em>
    </a>
</nav>