<a href="/" title="Inicio" aria-label="Ir a la página de inicio">
  <picture>
    <source media="(max-width:799px)" srcset="../../img/logo-80x80.webp">
    <source media="(min-width:800px)" srcset="../../img/logo-200x47.webp">
    <img src="../../img/logo-200x47.webp" alt="Logo de la página que redirecciona a la página de inicio.">
  </picture>
</a>


<nav>
  <a href="/index.html">Inicio</a>   <a href="../../sobre-mi.html">Sobre mí</a>
  <a href="../../hobbies/index.html">Hobbies</a>
</nav>


<section aria-label="Buscador y botón de contactar">
  <em class="fa-solid fa-search" id="btn-buscar" aria-label="Botón para abrir buscador"></em> 
  <a href="../../sobre-mi.html#contacto" title="Enviar un correo">
      <em class="fa-solid fa-paper-plane"></em> <span>Contactar</span>
  </a>
</section> 





